#!/usr/bin/make -f

PACKAGE=vacon

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_install:
	mkdir -p debian/$(PACKAGE)
	find . -maxdepth 1 -mindepth 1 -not -name debian -print0 | \
		sed -e s#'./'##g | \
		xargs -0 -r -i cp -a ./{} debian/$(PACKAGE)/{}
	dh_link opt/vacon/bin/vacon usr/bin/vacon

override_dh_strip:
